[:turn/left
 10
 :turn/right
 12
 :turn/right
 12
 :turn/right
 6
 :turn/right
 10
 :turn/left
 10
 :turn/left
 10
 :turn/right
 12
 :turn/right
 12
 :turn/right
 10
 :turn/left
 10
 :turn/left
 12
 :turn/right
 6
 :turn/right
 6
 :turn/right
 10
 :turn/left
 10
 :turn/right
 10
 :turn/left
 10
 :turn/left
 12
 :turn/right
 6
 :turn/right
 6
 :turn/right
 10
 :turn/left
 10
 :turn/right
 10
 :turn/left
 10
 :turn/left
 12
 :turn/right
 6
 :turn/left
 10
 :turn/right
 12
 :turn/right
 12
 :turn/right
 10
 :turn/left
 10
 :turn/left
 12
 :turn/right
 6]
